<%# locals: (form:, elements:, choices:, filter:, options: {}) -%>
<%# 
Indent in this file may cause extra space to appear.
You can add indent if whitespace doesn't matter for you
%>
<div class="datagrid-enum-checkboxes">
<%- choices.each do |value, text| -%>
<%- id = [form.object_name, filter.name, value].join('_').underscore -%>
<%= form.datagrid_label(filter.name, for: id, **options) do -%>
<%= form.datagrid_filter_input(filter.name, id: id, value: value) -%>
<%= text -%>
<%- end -%>
<%- end -%>
</div>
