<div class="order">
  <%= link_to(
      I18n.t("datagrid.table.order.asc").html_safe,
      order_url(grid, column, false),
      :class => "asc") %>
  <%= link_to(
      I18n.t("datagrid.table.order.desc").html_safe,
      datagrid_order_url(grid, column, true),
      :class => "desc") %>
</div>
