<%= form.datagrid_filter_input(filter, **from_options) %>
<span class="separator <%= filter.type %>"><%= I18n.t('datagrid.filters.range.separator') %></span>
<%= form.datagrid_filter_input(filter, **to_options) %>
