<tr class="<%= options[:cycle] && cycle(*options[:cycle]) %>">
  <% report.columns.each do |column| %>
    <td class="<%= datagrid_column_classes(report, column)  %>"><%= datagrid_format_value(report, column, asset) %> </td>
  <% end %>
</tr>
