<tr>
  <% grid.html_columns(*options[:columns]).each do |column| %>
    <td class="<%= datagrid_column_classes(grid, column) %>" data-column="<%= column.name %>"><%= datagrid_value(grid, column, asset) %></td>
  <% end %>
</tr>
