<%#
Local variables:
* grid - instance of Datagrid
* assets - Array of database Entities
* options - passed options Hash
%>
<%= content_tag :table, options[:html] do %>
  <thead>
    <%= datagrid_header(grid, options) %>
  </thead>
  <tbody>
    <% if assets.any? %>
      <%= datagrid_rows(grid, assets, options) %>
    <% else %>
      <tr><td class="noresults" colspan="100%"><%= I18n.t('datagrid.no_results').html_safe %></td></tr>
    <% end %>
  </tbody>
<% end %>
