<tr class="<%= options[:cycle] && cycle(*options[:cycle]) %>">
  <% columns.each do |column| %>
    <td class="<%= column.name  %>"><%= datagrid_format_value(report, column, asset) %> </td>
  <% end %>
</tr>
