<tr>
  <p>Namespaced head partial.</p>
  <% grid.html_columns(*options[:columns]).each do |column| %>
    <th>
      <%= column.header %>
      <%= datagrid_order_for(grid, column, **options) if column.order && options[:order]%>
    </th>
  <% end %>
</tr>
